body
{
  background-image: url("../images/pinkbackground.jpeg");
}
td, th {
  border: 3px solid;
  }
h1 {
  color: red;
  text-align: center;
  font-family: fantasy;
  font-size: 36px;
}
tr {
  background-color: plum;
  text-align: center;
}
td {
  font-size: 2em;
  font-family: serif;
}
.image-earth {
  border: 2px blue;
}
.image-mars {
  border: 2px orange;
}
.image-saturn {
  border: 2px tan;
} 
.image-jupiter {
  border: 2px brown;
} 
.row1 {
  color: paleturquoise;
  font-family: "Times New Roman", serif;
  font-weight: bold;
} 
.row2 {
  color: rgb(0,100,100);
}
.row3 {
  color: gold;
}
.row4 {
  color: azure;
}
.row5 {
  color: indigo;
}
.row6 {
  color: orange;
}
.row7 {
  color: teal;
}
.row8 {
  color: blueviolet;
}
.row9 {
  color: magenta;
}
.middle {
  margin-left: auto;
  margin-right: auto;
}
  
